.md\:min-h-screen-calc {
    min-height: calc(100vh - 72px);
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}


::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #eff6ff;
}


::-webkit-scrollbar-thumb {
    background: #bfdbfe;
    border-radius: 100vh;
    border: 2px solid #e0e7ff;
}


::-webkit-scrollbar-thumb:hover {
    background: #e0e7ff;
}